.outerborder {
  position: fixed;
  top: 0vw;
  left: 0vw;
  width: 100vw;
  height: 100vh;
  background-color: rgba(3, 3, 3, 0.719);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.userInputBox {
  width: 32vw;
  height: 35vw;
  display: flex;
  flex-direction: column;
  background-color: #dcdcdc;
  border-radius: 1vw;
  align-items: center;
  gap: 1.5vh;
  box-shadow: inset 0 0 0 10px rgb(255, 255, 255);
  transform: scale(0);
  opacity: 0;
  animation: scaleIn 0.5s ease-out forwards;
}

@keyframes scaleIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.userinputAnimated {
  width: 23vw;
  height: 23vw;
}

.userInputBox p {
  font-size: 1.25vw;
}

.userInputBox input::placeholder {
  color: rgb(255, 255, 255);
}

.userText {
  background-color: #2e2828;
  padding: 1vh 1vw;
  width: 25vw;
  color: white;
  border: none;
  outline: none;
  border-radius: 0.8vw;
  font-size: 1.2vw;
}

.userSubmitBtn {
  padding: 0.8vh 4vw;
  color: white;
  border: none;
  font-size: 1.2vw;
  outline: none;
  border-radius: 0.8vw;
  background-color: #2e2828;
  cursor: pointer;
}

.userSubmitBtn:hover {
  background-color: #383333;
  transform: scale(1.01);
}

.userSubmitBtn:active {
  background-color: #2e2828;
  transform: scale(1.01);
}

@media screen and (max-width:1024px){
  .userInputBox {
    width: 80vw;
    height: 54vh;
    border-radius: 15px;
    gap: 1.5vh;
  }

  .userinputAnimated {
    width: 70vw;
    height: 70vw;
  }
  
  .userInputBox p {
    font-size: 4vw;
  }

  .userText {
    padding: 1vh 2vw;
    width: 67vw;
    border-radius: 12px;
    font-size: 4vw;
  }

  .userSubmitBtn {
    padding: 0.8vh 7vw;
    font-size: 4vw;
    border-radius: 12px;
  }
}