.watchlistBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: black;
    color: white;
    font-size: 17px;
    padding: 8px 22px;
    border-radius: 50px;
    cursor: pointer;
    user-select: none;
    outline: none;
    border: none;
    width: 140px;
    height: 40px;
    text-decoration: none;
}

.watchlistBtn:hover{
    transform: scale(1.05);
}

.watchlistBtn:active{
    background-color: rgb(20, 20, 20);
}